*{
    box-sizing: border-box;
}

.CheckoutCard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    width: inherit;
    height: 120px;
    border: 1px solid purple;
    margin-bottom: 20px;
}

.checkoutQuantity{
    display: flex;
    border: 1px solid purple;
}

.itemInformation{
    width: 350px;
    height: 100px;
    border: 1px solid grey;
    
}

img{
    height: 60px;
    width: auto;
    border: 1px solid blue;
}
