@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/Roboto/Roboto-Regular.ttf");
}

*{
    box-sizing: border-box;
}

.Card{
    /* border: 1px solid grey; */


    border-radius: 5px;
    width: 260px;
    height: 400px; 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    position: relative;
    padding: 10px 5px;
   
    z-index: 1;
    margin-bottom: 2rem;
    box-shadow:  -5px -5px 30px #bebebe,
             5px 5px 20px #ffffff;
    border: 1px solid lightgray;
}

.ImgContainer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */

    
}

.ImgContainer img{
    height: 190px;
    width: 190px;
    object-fit: scale-down;
    border: none;
    /* border: 1px solid green; */
}

h4 , p{
    /* border: 1px solid green; */
   text-align: center;
   font-family: Roboto-Light;
   font-weight: 700;
   /* border: 1px solid blue; */
}

h4{
    width: inherit;

    /* height: 75px; */
    padding-bottom: 0px;
    overflow: hidden;
    /* border: 1px solid blue; */
    font-weight: 700;
}

.quantityCounterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 35px;
    padding: 0  10px;
    border: 1px solid black;
    border-radius: 5px;

}

.quantityCounterContainer button{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    border: none;
    height: max-content;
}

.quantityCounterContainer button:hover{
    background-color: lightgrey;

}

button{
    position: relative;
    z-index: 2;
}

.quantityAndCartButtons{
    display: flex;
     /* border: 1px solid black; */
    justify-content: space-evenly;
}

.addCartButton{
    font-family: Roboto-Bold;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

.addCartButton:hover{
    background-color: red;
    color: white;
}

b{
    font-size: large;
}

@media only screen and (max-width : 500px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    .Card{
        /* border: 1px solid grey; */


        border-radius: 5px;
        width:48vw;
        height: 370px; 
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5%;
        
        position: relative;
        padding: 10px 5px;
    
        z-index: 1;
        /* margin-bottom: 20px; */
        box-shadow:  -5px -5px 30px #bebebe,
                5px 5px 20px #ffffff;
        border: 1px solid lightgray;
    }

    .ImgContainer{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: end;
        /* border: 1px solid lightgray; */
        /* padding: 10px 0; */
    
        
    }
    .ImgContainer{
        padding-bottom: 10%;
    }

    
    .ImgContainer img{
        height: 150px;
        width: 120px;
        object-fit: contain;
        border: none;
        /* border: 1px solid green; */
    }

    h4 , p{
        /* border: 1px solid green; */
       text-align: center;
       font-family: Roboto-Light;
       font-weight: 700;
       font-size: 12px;
       /* border: 1px solid blue; */
    }
    

    .Card h4{
        margin-bottom: 10px;
    }


    h4{
        width: inherit;
    
        /* height: 75px; */
        padding-bottom: 0px;
        overflow: hidden;
        /* border: 1px solid blue; */
        font-weight: 700;
    }

    .quantityAndCartButtons{
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
        justify-content: space-evenly;
    }

    .quantityAndCartButtons{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 10%; */
    }

    .quantityCounterContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 35px;
        padding: 0  10px;
        border: 1px solid black;
        border-radius: 5px;
        width: max-content;
    }

    .addCartButton{
        font-family: Roboto-Bold;
        padding: 15px 10px;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
}